@import "./variables";
@import "./modal";

body {
  margin: 0;
  background-color: #f4f7fb;

  #app {
    .navbar {
      background-color: $dark-blue;
      display: flex;

      &-logo,
      &-contact {
        width: 115px;
        margin: 0 1rem;
      }

      ul {
        list-style-type: none;
        height: 40px;
        max-width: 1140px;
        margin: 0 auto;
        padding: 0;

        li {
          display: inline;
          margin-right: 1rem;
        }
      }
      a {
        color: white;
        text-decoration: none;
        transition: 0.25s all ease-in;
        line-height: 40px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .container {
      max-width: 1140px;
      margin: 0 auto;

      .list {
        .search {
        }

        // Prueba CSS Grid
        .grid {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          border-top: 1px solid black;
          border-right: 1px solid black;
          span {
            padding: 8px 4px;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
          }
        }
      }
    }
  }
}
