$aquamarine: #9fffcb;
$blue: #00a5cf;
$green: #7ae582;
$dark-blue: #004e64;
$dark-green: #25a18e;

$sm-breakpoint: 576px;

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("@/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

* {
  color: #2e2e2e;
  font-family: Montserrat, Helvetica, Arial;
}

span {
  font-size: 14px;
}
