$dark-blue: #004e64;
$blue: #00a5cf;
$aquamarine: #9fffcb;
$dark-green: #25a18e;
$green: #7ae582;

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #2e2e2e;
}

span {
  font-size: 14px;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("@/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

* {
  font-family: Montserrat, Helvetica, Arial;
}
